

<div class="Rectangle-2" >
  <div class="row">
    <div class="col-4 col-s-12"></div>
    <div class="col-4 col-s-12 topimg">
      <img src='../assets/images/vector-smart-object.jpg'>
    </div>
    <div class="col-4 col-s-12"></div>
  </div>


  
    <div class="row">
      <div class="col-2"></div>

      <div class="col-8 col-s-12 Rectangle-1">
        <div class="col-5 col-s-6">
          <div><span class="Find-Jobs">Find Job </span></div>
          <div><input type="text" placeholder="User Experience Designe" class="Rectangle-1-copy-2"></div>
        </div>

        <div class="col-5 col-s-6">
          <div> <span class="Find-Jobs">In My Location</span></div>
          <div>
            <input type="text" placeholder="Enter Zip Code" class="Rectangle-1-copy-2">
          </div>
        </div>
        <div class="col-2">
          <div style="height:18px;"></div>
          <div>
          <button class="buttonClass" (click)="showSuccess()" ><span class="Install-Now">Find Job  > </span></button>
          </div>
        </div>
      </div>

    <div class="col-2"></div>
    </div>



    <div class="row">
        <div class="By-clicking-the-button-above-you-are-agreeing-to-install-this col-12">
            By clicking the button above, you are agreeing to install this extension and agreeing to abide by the EULA, Privacy Policy,  Endorsement Disclaimer and DMCA Policy
        </div>
    </div>
</div>
    

    <div class=" row">
      <div class="col-12 col-s-12 Rectangle-2-copy">
        <div class="Box" >
          <span class="million-job-listings-Fresh-job-openings-updated-daily ">
              8 million+ job listings. Fresh job openings updated daily.
          </span>
        </div>

        <div style="margin-bottom:20px;">
          <span class="Add-this-handy-job-search-tool-to-your-New-Tab-Also-enjoy-easy" >Add this handy job search tool to your New Tab.
             Also enjoy easy access to web search. </span>
        </div>
      </div>
        
    </div>



  <div class="Layer-0 row">
      
  <div class="col-6 col-s-12" style="padding-left:115px">
  <div style="margin-top:94px;">
  <span class="Find-A-Job---Fast-Easy-Smart text-style-1  ">Find A Job -</span>
  <span class="Find-A-Job---Fast-Easy-Smart">Fast. Easy. Smart.</span>  </div>

  <div class="Power-up-your-job-search-today" style="margin-top:7px;">
      Power up your job search today
   </div>

   <div class="Getting-access-to-the-latest-updated-job-listings-is-now-easier"  style="margin-top:40px;" >Getting access to the latest updated job listings is now easier than ever,
      with a job search tool on your New Tab. </div>

    
          <button class="Rectangle-1-copy-4 " style="margin-top:41px;" ><span class="Install-Now" >Install Now   ></span> </button>

    
   </div>
   
   <div class="col-6 col-s-12">
      <div class="screen" >
        <img src="../assets/images/mask.jpg" style="margin-top:21px;margin-left:23px;margin-bottom: 17px;width: 90%">
        
      </div>

   </div>
  </div>
  <!--=================================================================================-->

<!--=================Popup Box===================================================-->
<div *ngIf="popupBox" class="popupBg">
  <div class="popupStyle" [ngStyle]="{'margin-left':marginLeftForPopup}">
      <span style="margin-top:10px;">popup box open</span>
  <div style="height:82%;text-align:right;">
    <button (click)="popupClose()" style="margin-top:20px">Close</button>
  </div>
  </div>
</div>
<div class="row">
  <div class="col-12" style="  background-color: #f4f6fa;">
  <div class="col-6 col-s-12">

    <div style="padding: 5px">
      <!--=========================FirstBox============================-->
            <div style="background-color:rgb(255, 255, 255);width: 100%;">
              
                <div>
                  <button class="Rectangle-4-copy-9">Part time jobs</button>
                  <button class="Rectangle-4-copy-10">Part time jobs</button>
                  <button class="Rectangle-4-copy-11">Part time jobs</button>
                </div>
        
                <div>
                    <button class="Rectangle-4-copy-9">Part time jobs</button>
                    <button class="Rectangle-4-copy-10">Part time jobs</button>
                    <button class="Rectangle-4-copy-11">Part time jobs</button>
                  </div>
        
                  <div>
                      <button class="Rectangle-4-copy-9">Part time jobs</button>
                      <button class="Rectangle-4-copy-10">Part time jobs</button>
                      <button class="Rectangle-4-copy-11">Part time jobs</button>
                  </div>
        
                  <div>
                      <button class="Rectangle-4-copy-9">Part time jobs</button>
                      <button class="Rectangle-4-copy-10">Part time jobs</button>
                      <button class="Rectangle-4-copy-11">Part time jobs</button>
                  </div>
                  <div style="height:17px;"></div>
            
            
            </div>

    <!--===============================================================================-->
  </div>

  <div style="padding: 5px">
      <div style="background-color:rgb(255, 255, 255);width: 100%;">
        <img src="../assets/images/midboximg1.png" style="width:100%;">
        <span class="Popular-Jobs-Across-Locations">Popular Jobs Across Locations</span>
        <div class="Looking-for-a-job-Add-New-Job-Quest-to-your-New-Tab-today-Whe">
            Looking for a job? Add New Job Quest to your New Tab today. 
            Whether you’re looking for jobs near you, part time jobs or government jobs, 
            you can find the perfect job with this reliable job search tool on your New Tab. 
            Get instant access to popular jobs from across categories and locations easily.
             Thousands of companies are hiring! Don’t miss the latest vacancies. Install now. 
        </div>
        <button class="Rectangle-1-copy-4"><span class="Install-Now">Install Now  ></span></button>
      </div>
  </div>





  <div style="padding: 5px">
      <div style="background-color:rgb(255, 255, 255);width: 100%;">
          <div>
              <button class="Rectangle-4-copy-9">Airline Jobs</button>
              <button class="Rectangle-4-copy-10">Entry Level Jobs</button>
              <button class="Rectangle-4-copy-11">Paralegal Jobs</button>
            </div>
            <div>
                <button class="Rectangle-4-copy-9">Pharmaceutical Jobs</button>
                <button class="Rectangle-4-copy-10">Telecommuting Jobs</button>
                <button class="Rectangle-4-copy-11">Automotive Jobs</button>
              </div>
              <div>
                  <button class="Rectangle-4-copy-9">Manufacturing Jobs</button>
                  <button class="Rectangle-4-copy-10">MBA Jobs</button>
                  <button class="Rectangle-4-copy-11">Management Jobs</button>
                </div>
                <div>
                    <button class="Rectangle-4-copy-9">Executive Jobs</button>
                    <button class="Rectangle-4-copy-10">Contract Jobs</button>
                    <button class="Rectangle-4-copy-11">Clerical Jobs</button>
                  </div>
                  <div>
                      <button class="Rectangle-4-copy-9">Bilingual Jobs</button>
                      <button class="Rectangle-4-copy-10">Restaurant Jobs</button>
                      <button class="Rectangle-4-copy-11">Business Jobs</button>
                    </div>

                    <div>
                        <button class="Rectangle-4-copy-12">Information Technology Jobs
                          </button>
                        <button class="Rectangle-4-copy-13">Human Resources Jobs
                          </button>
                        
                      </div>
      
      </div>
  </div>





  
  </div>
  <div class="col-6 col-s-12" style="  background-color: #f4f6fa;">
    <div style="padding: 5px">
      <div style="background-color:rgb(255, 255, 255);width: 100%;">
      
        <img src="../assets/images/shutterstock-632579702.png" style="width:100%">
        <span class="Jobs-from-Trending-Companies">Jobs from Trending Companies</span>
        <div class="Explore-listings-for-jobs-from-popular-companies---Google-Face">Explore listings for jobs from popular companies - Google, Facebook, Youtube, Amazon, Yahoo!
           CNN and more. Get the career break you deserve without the stress! There are multiple job
          opportunities including vacancies for online jobs updated every day. With access to a 
          job search tool, you won’t have to look anywhere else or visit multiple job search sites 
          to find the right job. </div>
          <button class="Rectangle-1-copy-4"><span class="Install-Now">Install Now  ></span></button>
       
      </div>
    </div>





    <div style="padding: 5px">
      <div style="background-color:rgb(255, 255, 255);width: 100%;">
        <img src="../assets/images/shutterstock-380601157.png" style="width:100%;">
        <span class="Easy-Free-Access-No-Sign-Up-Required ">Easy & Free Access. No Sign Up Required. </span>
        <div class="Explore-listings-for-jobs-from-popular-companies---Google-Face">Explore listings for jobs from popular companies - Google, Facebook, Youtube, Amazon, 
          Yahoo! CNN and more. Get the career break you deserve without the stress! There are
           multiple job opportunities including vacancies for online jobs updated every day. 
           With access to a job search tool, you won’t have to look anywhere else or visit multiple
            job search sites to find the right job. </div>
      
      <button class="Rectangle-1-copy-4" (click)='onClickpopup()'><span class="Install-Now">Install Now  ></span></button>
   
      
      </div>
    </div>
  </div>
</div>
</div>
<!--========================================================================================================-->
<div class="row" style="margin-bottom: 40px;text-align:center;">
    <span class="Google-is-the-trademark-of-Google-LLC-All-other-third-party-na">
        Google is the trademark of Google LLC. All other third-party names used here are 
        trademarks or registered trademarks of such third parties. Use of them here does 
        not imply any affiliation with or endorsement by such entities

    </span>
</div>
<div class="row" style="background-color: #53627c;">
  <div class="col-6 col-s-12 footer2-1" style="padding: 25px">
  <img style="width: 120px;" src="../assets/images/vector-smart-object.png">
  </div>
  <div class="col-6 col-s-12 " style="text-align: center;margin-top: 30px;">
      <span class="EULA-Privacy-Policy-Endorsement-Disclaimer-and-DMCA-Policy">
          EULA • Privacy Policy • Endorsement Disclaimer and DMCA Policy 
          • Contact Us • Uninstall
      </span>
  </div>
</div>






